@model OrderSystem.Database.Models.Partner

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Редактирай патньор</legend>
        <div style="top: 50%; width: 100%">
            @Html.HiddenFor(m => m.PartnerId)
            <div style="width: 500px;">
                <div class="editor-label">@Html.LabelFor(s => s.Name)</div>
                <div class="editor-field">

                    @Html.TextBoxFor(m => m.Name, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(s => s.Name)
                </div>
                <br />
                <div class="editor-label">@Html.LabelFor(s => s.Bulstat)</div>
                <div class="editor-field">
                    @Html.TextBoxFor(m => m.Bulstat, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(s => s.Bulstat)
                </div>
                <br />
                <br />
                <div>
                    <input class="col-12" type="submit" value=Запази />
                </div>
                @Html.ActionLink("Изтрии", "DeletePartner", "AdminEditManagment", new { id = Model.PartnerId }, null)
            </div>
        </div>
    </fieldset>
}
<style>
    fieldset {
        margin: 20px;
        border: 1px solid silver;
        padding: 8px;
        border-radius: 4px;
        width: 550px;
    }

    legend {
        padding: 2px;
    }
</style>