@model OrderSystem.Database.Models.BrandDetail

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Добави модел</legend>
        <div style="top: 50%; width: 100%">
            @Html.HiddenFor(m => m.BrandDetailId)
            <div style="width: 500px;">
                <div>
                    @Html.Label("Марка: ")
                    @Html.DropDownListFor(m => m.BrandId, new SelectList(new OrderSystem.Services.Services.BrandsDatabaseService().GetBrands(), "BrandId", "Name"), "Избери", htmlAttributes: new { @class = "custom-class-for-width form-control" })

                </div>
                <br />
                <div class="editor-label">@Html.LabelFor(s => s.EngineType)</div>
                <div class="editor-field">
                    <input class="form-control"
                           id="EngineType"
                           name="EngineType"
                           type="text"
                           placeholder="Тип двигател" />
                    @Html.ValidationMessageFor(s => s.EngineType)
                </div>
                <br />
                <div class="editor-label">@Html.LabelFor(s => s.Power)</div>
                <div class="editor-field">
                    <input class="form-control"
                           id="Power"
                           name="Power"
                           type="text"
                           placeholder="к.с." />
                    @Html.ValidationMessageFor(s => s.Power)
                </div>
                <br />
                <div class="editor-label">@Html.LabelFor(s => s.Year)</div>
                <div class="editor-field">
                    <input class="form-control"
                           id="Year"
                           name="Year"
                           type="text"
                           placeholder="Година на производство" />
                    @Html.ValidationMessageFor(s => s.Year)
                </div>
                <br />
                <br />
                <div>
                    <input class="col-12" type="submit" value=Запази />
                </div>
            </div>
        </div>
    </fieldset>
}
<style>
    fieldset {
        margin: 20px;
        border: 1px solid silver;
        padding: 8px;
        border-radius: 4px;
        width: 550px;
    }

    legend {
        padding: 2px;
    }
</style>
            